/* 
Grid Auto Flow 

Controla como se acomodan los elementos de forma automática en la grilla, cuando no especificamos su posición de los items.

grid-auto-flow: row; -> Default
grid-auto-flow: column; -> Usa las columnas

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container { 
  width: 500px;
  height: 500px;
  padding: 12px;
  margin: 0 auto;

  display: grid;
  grid-auto-flow: row; /* Default */
  grid-auto-flow: column;

  direction: ltr; /* Left to Right */
  direction: rtl; /* Right to Left */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;

  background-color:mistyrose;
}

.item {
  background-color:darkred;
  text-align: center;
}